@media (min-width: 769px) and (max-width:1024px){

@font-face {
    font-family: "dyson";
    src: url(../font/Dyson\ Sans\ Modern.ttf);
}

html{
    font-family: "Noto Sans KR", sans-serif;
}

.all{
    width: 100%;
}
    
header{
    display: flex;
    width: 100%;
    height: 130px;
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_logo{
    font-size: 50px;
    height: 100px;
    font-family: "dyson";
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    margin-left: 3%;
}
header>img{
    width: 30px;
    height: 30px;
    /* border: 1px solid red; */
    position: absolute;
    right: 56px;
    top: 53px;
    cursor: pointer;
}
.gnb{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 54%;
    margin-right: 9%;
    display:none;
}
.gnb>li{
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    transition: all 0.4s ease 0s;
}
.gnb>li:hover{
    color: #967BFE;
    font-size: 25px;
    font-weight: 800;
}
    /* gnb 삼단바 메뉴 */
    .sideGnb {
        background: #000;
        color: #fff;
        /* border: 1px solid red; */
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: all 0.3s ease 0s;
        z-index: 10000;
        height: 100%;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
      .sideGnb.on{
        transform: translateX(0%);
      }
    
    
      .sideGnbMenu {
        /* border: 1px solid white;  */
        /* display: flex; */
        position: relative;
        width: 60%;
        /* height: 330px;*/
    }
    .sideGnbMenu>li {
        font-size: 69px;
        width: 170%;
        /* border: 3px solid red; */
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        font-weight: 650;
        transition: all 0.3s ease 0s;
        /* height: 300px; */
        margin-bottom: 20px;
        cursor: pointer;
    }
    .sideGnbMenu>li:last-of-type{
        margin-bottom: 0px;
    }
        .sideGnbMenu>li:hover{
        color:#967BFE;
        font-size: 57px;
        }
        .sideGnbMenu>li>a {
        /* border-right: 2px solid white; */
        width: 630px;
        /* height: 210px; */
        /* background: #1B371D; */
        /* color: #F0CA50; */
        display: flex;
        /* padding-top: 23px; */
        font-size: 69px;
        /* margin-top: 40px; */
        transition: all 0.4s ease 0s;
    }
        
        /* .menu_title3:hover{
        transform: scale(1.05)
        } */
    
    
    
        .sideGnbMenu>li>ul {
        border-left: 1px solid white;
        padding-left: 20px;
        color: #fff;
        font-weight: 400;
    }
    
    .sideGnbMenu>li>ul>li {
        /* border: 1px solid white; */
        padding: 8px 0;
    }
    .login{
        /* margin-top: -5%; */
        color: #967BFE;
        font-weight: 550;
        border-radius: 50px;
        border: 1px solid #967bfe;
        width: 11%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 47px;
        transition: all 0.3s ease 0s;
        position: absolute;
        left: 9%;
        top: 4%;
        font-size: 20px;
        cursor:pointer;
    }
    .login:hover{
        background:#967BFE;
        color: #fff;
        border:none;
    }
    
    .service1{
        /* margin-top: -5%; */
        color: #967BFE;
        font-weight: 550;
        border-radius: 50px;
        border: 1px solid #967bfe;
        width: 11%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 47px;
        transition: all 0.3s ease 0s;
        position: absolute;
        left: 23%;
        top: 4%;
        font-size: 20px;
        cursor:pointer;
    }
    .service1:hover{
        background:#967BFE;
        color: #fff;
        border:none;
    }
    
    .service2{
        /* margin-top: -5%; */
        color: #967BFE;
        font-weight: 550;
        border-radius: 50px;
        border: 1px solid #967bfe;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 47px;
        transition: all 0.3s ease 0s;
        position: absolute;
        left: 37%;
        top: 4%;
        font-size: 20px;
        cursor: pointer;
    }
    .service2:hover{
        background:#967BFE;
        color: #fff;
        border:none;
    }
    
    .service3{
        /* margin-top: -5%; */
        color: #967BFE;
        font-weight: 550;
        border-radius: 50px;
        border: 1px solid #967bfe;
        width: 17%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 47px;
        transition: all 0.3s ease 0s;
        position: absolute;
        left: 55%;
        top: 4%;
        font-size: 20px;
        cursor: pointer;
    }
    .service2:hover{
        background:#967BFE;
        color: #fff;
        border:none;
    }
    
    
    .top_close_btn{
        width: 100px;
        height: 50px;
        font-size: 20px;
        background: transparent;
        border-radius: 50px;
        /* transition: all 0.3s ease 0s; */
        color: #967BFE;
        font-weight: 450;
        /* border: 2px solid #0B4BF0; */
        border: none;
        background: none;
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 51px;
        font-size: 30px;
        cursor: pointer;
    }
    
    
    .btn_gnb_menu {
        background: none;
        width: 35px;
        height: 50px;
        border: none;
        margin-right: 3%;
        right: 60px;
        top: 28px;
        cursor: pointer;
    }
    
    .menu_bar{
        /* display:none; */
        cursor: pointer;
    }

/* 1페이지 */
.page1{
    /* border: 1px solid red; */
    width: 100%;
    padding-bottom: 120%;
    position: relative;
}
.video_box{
    position: absolute;
    /* top: 6px; */
    width: 100%;
    height: 880px;
    overflow: hidden;
}
.page1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* 2페이지 */
.page2{
    /* border: 5px solid hotpink; */
    width: 100%;
    padding-bottom: 10%;
}
.page2_main_txt{
    font-size: 80px;
    font-weight: 800;
    width:100%;
    margin:0 auto;
    text-align:center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.page2_img_group{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.page2_img_group section{
    /* border: 2px solid red; */
    flex: 1;
    margin-bottom: 10%;
}
.img_box{
    /* border: 2px solid green; */
    width: 100%;
    position:relative;
}
.page2_img_group img{
    width: 100%;
    /* height: 750px; */
    object-fit: contain;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid blue; */
    display: flex;
    border-radius: 80px;
}

.page2_title{
    /* border: 1px solid yellow; */
    width: 100%;
    margin-top: 2%;
    text-align: center;
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    color: #000;
    transition: all 0.2s ease 0s;
}
.page2_title:hover{
    color:#0057FF;
}

.page2_desc{
    /* border: 1px solid blue; */
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}


/* 3페이지 */
.page3{
    /* border: 1px solid red; */
    width: 100%;
    padding-bottom: 10%;
}
.page3_main_txt{
    font-size: 76px;
    font-weight: 700;
    /* border: 1px solid blue; */
    margin-left: 5%;
    padding-top: 7%;
    padding-bottom: 15%;
    width: 86%;
}
.product_group{
    width: 90%;
    /* border: 1px solid black; */
    /* display: flex; */
    justify-content: space-around;
    margin: 0 auto;
}
.pro_1{
    border: 1px solid rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10%;
}


.pro_2{
    border: 1px solid rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom:10%;
}


.pro_3{
    border: 1px solid rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.product{
    font-family: "dyson";
    font-size: 95px;
    font-weight: 550;
    /* border: 1px solid blue; */
    /* height: 130px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 3%;
    /* margin-top: 6%;*/
}
.product2{
    font-family: "dyson";
    font-size: 31px;
    font-weight: 550;
    /* border: 1px solid blue; */
    /* height: 107px; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 3%;
    flex-direction: column;
    /* padding-top: 3%; */
}
.pro2_ex{
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    font-size:95px;
}
.pro2_ex2{
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
}
.blue_ex{
    color: #3B85ED;
    /* border:1px solid orange; */
}
.gray_ex{
    /* border: 1px solid lime; */
    display: flex;
    color:#9d9d9d;
    width: 100%;
    font-size:95px;
}
.main_name{
    /* border: 1px solid red;  */
    font-size: 42px;
    font-weight: 500;
    display: flex;
    padding-left: 3%;
    align-items: center;
    padding-top: 9%;
    padding-right: 3%;
    height: 110px;
}

.page3_desc{
    /* border: 1px solid hotpink; */
    width: 100%;
    margin-top: 8%;
    height: 220px;
}
.page3_desc_2{
    /* border: 1px solid orange;  */
    width: 100%;
    margin-top: 41%;
    height: 220px;
    color: #2A64C5;
    font-weight: 500;
    font-size: 18px;
    padding-left: 3%;
}
.page3_desc li{
    color: #2A64C5;
    font-size: 24px;
    font-weight: 500;
    padding-left: 3%;
    margin-top: 2%;
}
.blue_btn{
    width: 100%;
    background: #0057FF;
    color: #fff;
    font-size: 24px;
    font-weight: 550;
    border: none;
    height: 70px;
}
.gray_btn{
    width: 100%;
    background: #D9D9D9;
    font-size: 24px;
    font-weight: 550;
    border: none;
    height: 70px;
}

/* 4페이지 */
.page4{
    width: 100%;
    /* border: 1px solid red; */
    padding-bottom: 6%;
    display:none;
}
.page4_main_txt{
    font-size: 60px;
    font-weight: 700;
    /* border: 1px solid blue; */
    margin-left: 11%;
    padding-top: 7%;
    padding-bottom: 5%;
    width: 86%;
}
.page4_desc{
    font-size: 30px;
    /* font-weight: 500; */
    margin-left: 11%;
}
.page4_img_box{
    /* border: 1px solid blue; */
    /* width: 100%;  */
    padding-left: 37%;
}
.review_img{
    /* width: 60%; */
}
.show_more{
    width: 23%;
    height: 70px;
    background: gray;
    color: #fff;
    font-size: 21px;
    font-weight: 550;
    margin-left: 11%;
    margin-top: 6%;
    border: none;
}


/* 5페이지 */
.page5{
    width: 100%;
    /* border: 1px solid blue; */
    padding: 15% 0;
}
.contents{
    /* border: 1px solid red; */
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.contents section{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}
.page5_title{
    /* border: 1px solid blue; */
    font-size: 21px;
    font-weight: 600;
    padding-left: 5%;
}
.page5_desc{
    /* border: 1px solid black; */
    font-size: 12px;
    padding-left: 5%;
}
.page5 img{
    width: 90%;
    height: 200px;
    padding: 5%;
}



/* footer */
footer{
    /* border: 1px solid red; */
    width: 100%;
    background: #000;
    color: #fff;
    /* height: 76vh; */
}
.foot_menu{
    width: 80%;
    padding-left: 11%;
    padding-top: 12%;
    padding-bottom: 4%;
    /* border-bottom: 1px solid rgb(177, 177, 177); */
    display: flex;
    margin-bottom: 3%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;*/
}
.foot_menu>li{
    /* border: 1px solid blue; */
    flex:1;
}
.foot_menu h4{
    border-bottom: 1px solid white;
    width: 50%;
    /* text-align: center; */
    font-size: 17px;
    font-weight: 650;
    height: 43px;
}
.foot_menu>li>ul{
    /* border: 1px solid lime; */
}
.foot_menu>li>ul>li{
    /* border: 1px solid hotpink; */
    font-size: 15px;
    /* display: flex; */
    justify-content: center;
    margin-top: 6%;
}
.foot_bottom_menu{
    /* border: 1px solid lime;  */
    width: 70%;
    display: flex;
    margin-left: 11%;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 550;
}
.foot_bottom_menu>li{
    /* border: 1px solid white; */

}
.nation{
    /* border: 1px solid lime; */
    border: none;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}
#nation_option{
    margin-left: 77%;
    margin-top: 2%;
    width: 17%;
    height: 40px;
    padding-left: 1%;
    font-size: 17px;
    font-weight: 550;
}
address{
    /* border: 1px solid lime; */
    width: 81%;
    margin-left: 11%;
    color: rgb(145, 145, 145);
    font-weight: 550;
    margin-top: 3%;
    font-size: 15px;
}

.foot_img_group{
    /* border: 1px solid lime; */
    width: 10%;
    margin-left: 13.3%;
    margin-top: 3%;
    text-align: center;
}
.foot_img_group img{
    width: 40%;
}
.foot_img_desc{
    font-size:12px;
    /* border: 1px solid white; */
    width: 100%;
    text-align: center;
}




    
}